/*Динамика*/
@media (max-width: 757px){
	.t1{
		font-size: calc(13px + (37+37*0.7) * ((100vw - 320)/1920));
	}
	.t2{
		font-size: calc(40px + (210+210*0.7) * ((100vw - 320)/1920));
	}
	.t3{
		font-size: calc(8px + (42+42*0.7) * ((100vw - 320)/1920));
	}
	.menu{
		font-size: calc(30px + (10+10*07)* ((100vw - 320)/1920));
	}
	.t4{
		font-size: (50px + (50+50*0.7) * ((100vw -320)/ 1920));
	}
	.t5{
		font-size: (14px + (26+26*0.7) * ((100vw -320)/ 1920));
	}
	.t6{
		font-size: (1px + (14+14*0.7) * ((100vw -320)/ 1920));
	}
}